generic-text picture {
	margin-bottom: 20px;
}

generic-text picture {
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

generic-text picture {
	max-width: 800px;
}

generic-text h2 {
	margin-bottom: 20px;
	margin-top: 10px;
}

generic-text p {
	margin-bottom: 20px;
}