generic-text picture {
	margin-bottom: 0px;
}

generic-text picture {
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.4);
}

generic-text picture {
	max-width: 800px;
}

generic-text h2 {

}

generic-text p {

}

@media(min-width: 700px) {
	.description {
		grid-column: 1;
	}
	.caption {
		grid-column: 2;
	}
}