
/* RESET */
@import 'meyer-reset.css';
@import 'setup.css';

/*@import 'developer-styles.css'; */
/* comment this ^ out - when you are ready */


/* SETTINGS */
@import 'settings.css'; /* variables/ etc */


/* STRUCTURE */
@import 'structure.css';


/* TYPOGRAPHY */
@import 'typography.css';


/* COMPONENTS */
@import 'components.css';


/* MODULES */
@import 'modules/masthead.css';
@import 'modules/graphic-diptych.css';
@import 'modules/call-to-action.css';
@import 'modules/projects-intro.css';
@import 'modules/project-card.css';
@import 'modules/writing-intro.css';
@import 'modules/writing-card.css';
@import 'modules/site-map.css';
@import 'animation.css';
@import 'detail.css';
@import 'image.css';
@import 'modules/resume.css';
@import 'modules/goal-list.css';
@import 'modules/goal.css';
@import 'modules/resume-list.css';
@import 'modules/project-links.css';
@import 'modules/landing-area.css';
@import 'modules/contact-me.css';
@import 'modules/detail-goal.css';
/*@import 'modules/layout-1.css';
@import 'modules/layout2.css';*/
/* should everything/nothing be in it's own file? */


/* ACTUAL SITE STYLES */
html {
	
}

body {
	background-color: #fffffb;
}


/*
	This the area where you work out your styles 
	If it makes sense, you can break these out into their own files.
*/


/* SITE SECTIONS */
.site-header {
	/*background-color: #9ec9eb;*/
	position: sticky;
	top: 0;
	 border-bottom: 1px solid rgba(229, 229, 219, 0.7);
	 z-index: 1;
	/*box-shadow: 0 2px 5px 0px rgba(0,0,0,.4);*/
}
.site-header inner-column {
	padding: 10px 14px;
}



/* OK! SITE STYLES! */
.site-header {
  background-color: #fff4f3;
  color: var(--white);
}



.landing {
	margin-top: 50px;
}

/* things kinda just start grouping up... and you'll know when something should be grouped into another file - most of the time */


.get-involved {
  padding-top: 30px;
} /* interesting way to include the whole image in your CSS */

.get-involved inner-column {
	/*max-width:  700px;*/
}

.get-involved call-to-action {

}


.stuff {
  background-color: #fefff7;
}

.writing {
  background-color: #fefff7;
	/*background-image:  url("data:image/svg+xml,%3Csvg width='4' height='4' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.2' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");*/
}

.help-us {
  background-color: #fefff7;
}

.site-footer {
  background-color: #f65752;
	color: var(--white);
	padding-bottom: 50px;
}

.site-footer .logo {

}

