
.loud-voice	{
	font-family: 'Playfair Display', serif;
	font-size: clamp(36px, 5vw, 60px);
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700;
	}
}

.intro-voice	{
	font-family: 'Playfair Display', serif;
	font-size: 40px;
}

.attention-voice	{
	font-family: 'Playfair Display', serif;
	font-size: 30px;
}

.something-for-site-map-headings {
	/* */
}

.calm-voice, p, a{
	font-family: 'Playfair Display', serif;
	font-size: 1rem;
	line-height: 1.4;
}

.greetings {
	font-family: 'Playfair Display', serif;
	font-size: 30px;
}

.josh {
	font-family: 'Playfair Display', serif;
	font-size: 90px
}

.developer {
	font-family: 'Playfair Display', serif;
	font-size: 30px;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now $todo */
p + p {
	margin-top: 10px;
}

h1 + p {
	margin-top: 5px;
}

h2 + p {
	margin-top: 5px;
}

span {
  color: #f43c3c;
}
