@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

.loud-voice	{
	font-family: Roboto;
	font-size: clamp(36px, 5vw, 60px);
	color: white;
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700;
	}
}

.intro-voice	{
	font-family: Roboto;
	font-size: clamp(50px, 40%, 70px);
	font-weight: 700;
	color: white;
	letter-spacing: .2rem;
	line-height: 1.2;
}

.attention-voice	{
	font-family: Roboto;
	font-size: 45px;
	color: white;
}

.something-for-site-map-headings {
	/* */
}

.calm-voice {
	font-family: Roboto;
	font-size: 1.3rem;
	line-height: 1.4;
	color: white;
	font-weight: 100;
}

call-to-action a {
	font-family: Roboto;
	font-size: 1.4rem;
	line-height: 1.4;
	color: #1923b7;
	font-weight: 300;
	background-color: yellow;
}

mast-head nav a {
	font-family: Roboto;
	font-size: 1.3rem;
	line-height: 1.4;
	color: white;
	font-weight: 100;
}

.black-text {
	color: black;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now $todo */
p + p {
	margin-top: 14px;
}

h1 + p {
	margin-top: 60px;
}

h2 + p {
	margin-top: 30px;
}
