.wednesday2-inner {
	padding: 10px;
}
.wednesday2-ul li, .wednesday2-header, .wednesday2-footer {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.wednesday2-ul {
	display: flex;
	flex-direction: column;
}

.wednesday2-svg {
	width: 30px;
}

.wednesday2-footer {
	border-top: 2px solid dodgerblue;
}

.wednesday2-header p:nth-of-type(1){
	color: pink;
	font-weight: bold;
	font-size: 25px;
}

.wednesday2-li {
	border-bottom: 2px solid black;
}

details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.wednesday2-li details{
    list-style: none;
    cursor: pointer;
    position: relative;
}

.wednesday2-li details summary:after {
    content: "\FF0B";
    position: absolute;
    right: 0;
}

@media(min-width: 700px) {
	.wednesday2-ul li {
		width: ;
	}
	.wednesday2-li {

	}
	.wednesday2-footer {
		background-color: dodgerblue;
		max-width: 40%;
		color: white;
	}
	.wednesday2-header {
		max-width: 80%;
	}
}

@media(min-width: 1000px) {
	.wednesday2 {
		display: flex;
		flex-direction: row;
	}
	.wednesday2-images {
		margin-left: 15px;
		align-self: center;
	}
	.wednesday2-inner {
		display: flex;
		flex-direction: row;
	}
	.wednesday2-header {
		max-width: 48%;
		justify-content: center;
	}
}