
articles-intro {
  display: block;
  padding: 50px 0;
}

articles-intro header {
  margin-bottom: 40px;
  max-width: 60ch;
}

articles-intro article-grid {
  display: grid;
  grid-gap: 2.5em;
}

articles-intro header p span {
  font-style: italic;
  font-weight: 700;
}

articles-intro header h2 {
  font-weight: 700;
}

@media(min-width: 600px){
  article-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 900px){
  article-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

header span {
  color: #f43c3c;
}

