
call-to-action {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  /* */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

call-to-action a {
  margin-top:  20px;
  text-decoration: none;
  color: #f43c3c;
}

call-to-action p span {
  font-style: italic;
  font-weight: 700;
}

call-to-action .attention-voice {
  font-weight: 700;
}

@media (min-width: 600px) {
  call-to-action {
    
  }
}

