
graphic-diptych {
  display: block;
  padding-top: 4vh;
  padding-bottom: 4vh;
  /* */
  display: grid;
  min-height: 50vh;
  place-items: center;
}

landing-logo {
  display: block;
  width: 100%;
  max-width: 500px;
}




