

landing-area {
  display: block;
}

landing-area landing-content {
  display: grid;
  grid-gap: 1em;
}

landing-area header p span {
  font-style: italic;
  
}

landing-area landing-content p a {
  color: #f65752;
  text-decoration: none;
} 

@media(min-width: 600px){
 landing-area landing-content {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 900px){
  landing-area landing-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

landing-area landing-content p:nth-of-type(2) {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

