
mast-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  mast-head .logo {
  margin-bottom: 0px;
}


mast-head nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

mast-head .logo {
  max-width:  50px;
}

mast-head a {
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0px 6px 0px 6px;
  padding-bottom: 5px;
  color: black;
}

@media (min-width: 600px) {
  
}
