
mast-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   
  }


mast-head nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

mast-head .logo {
  max-width:  40px;
}

.links {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.links a {
  padding: 0px 0px 2px 0px;
  margin: 0px 6px 0px 6px;
  color: black;
}

@media (min-width: 600px) {
  
}

mast-head .links .projects-link {
  scroll-behavior: smooth;
}
