
projects-intro {
  display: block;
 
}

projects-intro header {
  max-width: 60ch;
}

projects-intro project-grid {
  display: grid;
  grid-gap: 1em;
}

projects-intro header p span {
  font-style: italic;
  
}

projects-intro header h2 {
 
}

@media(min-width: 600px){
 projects-intro project-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 900px){
  projects-intro project-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

