
.site-map {
  display: block;
}

footer .links {
  display: grid;
  grid-gap: 1em;
}


.site-map .links div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}


@media(min-width: 600px){
  .site-map .links {
    grid-template-columns: 1fr 1fr;
  }
}

@media(min-width: 900px){
  .site-map .links {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


site-map nav {
  flex-grow:  1;
}
