.site-map {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}

.site-map .logo {
  fill: black;
  max-width: 40px;
}

.site-map .links div {
  display: flex;
  flex-direction: column;
}

@media (min-width:  700px) {
  .site-map .links div {
    flex-direction: row;
  }
}

site-map nav {
  flex-grow:  1;
}
