@import 'meyer-reset.css';
@import 'setup.css';

* {
	box-sizing: border-box;
	/*border: 2px solid dodgerblue;*/
}

body {
	background-color: #ffebcd;
}

.inner-column {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
}

body * {
	padding: 10px;
}

header {
	background-color: dodgerblue;
}

header nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

field {
	display: flex;
	justify-content: center;
	align-items: center;
}

field input {

}

form div {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.error {
	color: red;
}

.success {
	color: mediumspringgreen;
}

.list-lecture {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;

}

.button {
	background-color: dodgerblue;
	width: 120px;
	margin-bottom: 3px;
}




