@import 'meyer-reset.css';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital@0;1&display=swap');

* {
	box-sizing: border-box;
}

body {
	--white: #fffafa;
	background-color: #e9e2d4;
	font-family: 'Noto Sans Display', sans-serif;
}

.inner-column {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

p {
  padding-top: 10px;
  padding-bottom: 10px;
}

header {
  background-color: indianred;
}

.masthead {
  background-color: dodgerblue;
  display: flex;
}

.masthead div img {
  width: 300px;
}

.items {
  background-color: goldenrod;
  display: flex;
}

item img {
  width: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
}

footer {
  background-color: blueviolet;
}

@media (min-width: 500px) {
  .masthead .inner-column {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .masthead .inner-column img {
    margin-right: 10px;
  }
  item {
    display: flex;
    flex-direction: row;
  }
  footer .inner-column {
    display: flex; 
    flex-direction: row;
  }
}

@media(min-width: 700px) {
  item-list {
    display: flex;
    flex-direction: row;
  }
  item {
    display: flex;
    flex-direction: column;
  }
}