collection-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

collection-header h2 {
	border-bottom: 2px solid rgba(0, 0, 0, .2);
	margin-top: 50px;
	padding-bottom: 20px;
}

collection-header h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	line-height: 1.4;
	font-weight: 400;

}

collection-header p {
	font-family: 'Raleway', sans-serif;
	font-size: 1rem;
	line-height: 2;
	font-weight: 100;
	font-style: italic;
}

item {
	background-color: #f6f6f6;
	display: flex;
	flex-direction: column;
	align-items: center;
}

item a {
	padding: 20px;
}

item picture {

}

items {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media(min-width: 600px) {
	items {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}
	item {
		width: 300px;
	}
}