body * {
	/*border: 2px solid blue;*/
}

item-module {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

item-module div {
	display: flex;
	flex-direction: column;
	
	max-width: 800px;
}	

@media(min-width: 600px) {
	item-module {
		display: flex;
		flex-direction: row;
	}
	item-module div {
		padding: 120px 40px 0px 40px ;
		width: 45%;

	}
	item-module picture {
		width: 55%;
	}
}

item-module div p {
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	padding-bottom: 20px;
	margin-bottom: 15px;
}

.checkout-button {
	width: 100%;
	padding: 10px 0px 10px 0px;
	background-color: black;
	color: white;
	border: 1px solid black;
}

