h1, h2, h3, p, a {
/*  font-family: 'Lato', sans-serif;*/
  font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-weight: 700;
	font-size: 100px;
/*  border: 2px solid red;
*/}

p {
	font-family: 400;
	font-size: 20px;
	line-height: 1.5;
}

h2 {
	font-weight: 700;
	font-size: 60px;
}

a {
	color: black;
}

h3 {
  font-weight: 700;
  font-size: 40px;
}

.calm-voice {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: clamp(15px, 25px, 40px);
}

.loud-voice {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size:  clamp(80px, 120px, 140px);
}

/* animations */

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 10px;
  bottom: 13px;
  left: 0;
  background-color: rgba(255, 240, 0, 0.7);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-about-animation {
  display: inline-block;
  position: relative;
}

.hover-about-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 15px;
  bottom: 9px;
  left: 0;
  background-color: rgba(255, 105, 180, 0.7);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-about-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.logo {
  background-image: linear-gradient(
    to right,
    yellow,
    yellow 50%,
    white 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.logo:before{
  content: '';
  background: #54b3d6;
  display: block;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.logo:hover {
 background-position: 0;
}

.logo:hover::before{
  width: 100%;
}

